<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.yinghua.jilijili">
    <!-- 获取网络信息 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE/" />

    <application
        android:name=".app.JiliJiliApplication"
        android:icon="@drawable/ic_app_title"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_config"
        android:roundIcon="@drawable/ic_app_title"
        android:supportsRtl="true"
        android:theme="@style/Theme.ViewPager"
        android:usesCleartextTraffic="true"
        tools:targetApi="n">
        <activity android:name=".GuideActivity"></activity>
        <activity android:name=".WoelcomActivity" />

        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="8euX8TdnsCSUVwtPGpWjnS6zWbIIf9w2" />

        <activity android:name=".IndexActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LoginActivity" />
        <activity android:name=".MovieInfo" />
        <activity android:name=".MainActivity" >
            <nav-graph android:value="@navigation/mobile_navigation"/>
        </activity>
        <activity android:name=".LocalhostActivity" />

        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" />
    </application>

</manifest>